update: status **{% if fields.status == 'unknown' %}[unknown](https://docs.impulse.bot/stable/warnings/StatusUnknown/){% else %}{{ fields.status }}{% endif %}**
{#--#}{%- if fields.status == 'unknown' -%}
{#-   #}  |  :bell: admins ({%- for a in fields.admins %}@{{ a }}{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- endif -%}
