{%- set unit = webhooks.get(step.value) -%}
:bell: webhook **{{ step.value -}}**
{#--#}{%- if unit is none -%}
{#-   #} ([NotDefined](https://docs.impulse.bot/stable/warnings/NotDefined/))  |  :bell: admins ({%- for a in admins %}@{{ a.username }}{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-  -#}{%- if step.status == 'ok' -%}
{#-     #} ({% if step.result < 400 %}{{ step.result }}{% else %}[{{ step.result }}](https://docs.impulse.bot/stable/warnings/ResponseCode/){% endif %})
{#-  -#}{%- elif step.status == 'Timeout' -%}
{#      #} ([TimeoutError](https://docs.impulse.bot/stable/warnings/TimeoutError/))  |  :bell: admins ({%- for a in admins %}@{{ a.username }}{% if not loop.last %},{% endif %}{% endfor -%})
{#-  -#}{%- else -%}
{#      #} ([ConnectionError](https://docs.impulse.bot/stable/warnings/ConnectionError/))  |  :bell: admins ({%- for a in admins %}@{{ a.username }}{% if not loop.last %},{% endif %}{% endfor -%})
{#-  -#}{%- endif -%}
{#--#}{%- endif -%}
