{%- if fields.type == 'slack' -%}
:loudspeaker: group *{{ fields.name }}*
{#--#}{%- if not fields.unit -%}
{#-   #} (<https://docs.impulse.bot/stable/warnings/NotDefined/|NotDefined>)  |  :loudspeaker: admins ({%- for a in fields.admins %}<@{{ a }}>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- elif not fields.unit.exists -%}
{#-   #} (<https://docs.impulse.bot/stable/warnings/NotFound/|NotFound>)  |  :loudspeaker: admins ({%- for a in fields.admins %}<@{{ a }}>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-     #} (<!subteam^{{ fields.unit.id }}>)
{#--#}{%- endif -%}
{%- elif fields.type == 'mattermost' -%}
:bell: group **{{ fields.name }}**
{#--#}{%- if not fields.unit -%}
{#-   #} ([NotDefined](https://docs.impulse.bot/stable/warnings/NotDefined/))  |  :bell: admins ({%- for a in fields.admins %}@{{ a }}{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- elif not fields.unit.exists -%}
{#-   #} ([NotFound](https://docs.impulse.bot/stable/warnings/NotFound/))  |  :bell: admins ({%- for a in fields.admins %}@{{ a }}{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-     #} (@{{ fields.unit.name }})
{#--#}{%- endif -%}
{%- endif -%}
