{%- set unit = groups.get(step.value) -%}
:loudspeaker: group *{{ step.value }}*
{#--#}{%- if not unit -%}
{#-   #} (<https://docs.impulse.bot/stable/warnings/NotDefined/|NotDefined>)  |  :loudspeaker: admins ({%- for a in admins %}<@{{ a.id }}>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- elif not unit.exists -%}
{#-   #} (<https://docs.impulse.bot/stable/warnings/NotFound/|NotFound>)  |  :loudspeaker: admins ({%- for a in admins %}<@{{ a.id }}>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-     #} (<!subteam^{{ unit.id }}>)
{#--#}{%- endif -%}
