{%- set unit = users.get(step.value) -%}
🔔 user
{#--#}{%- if not unit -%}
{#-   #} <b>{{ step.value }}</b> (<a href="https://docs.impulse.bot/stable/warnings/NotDefined/">NotDefined</a>)  |  🔔 admins ({%- for a in admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-  -#}{%- if unit.exists -%}
{#-     #} <b><a href="tg://user?id={{ unit.id }}">{{ step.value }}</a></b>
{#-  -#}{%- else -%}
{#      #} <b>{{ step.value }}</b> (<a href="https://docs.impulse.bot/stable/warnings/NotFound/">NotFound</a>)  |  🔔 admins ({%- for a in admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#-  -#}{%- endif -%}
{#--#}{%- endif -%}
