update: status <b>{% if fields.status == 'unknown' %}<a href="https://docs.impulse.bot/stable/warnings/StatusUnknown/">unknown</a>{% else %}{{ fields.status }}{% endif %}</b>
{#--#}{%- if fields.status == 'unknown' -%}
{#-   #}  |  🔔 admins ({%- for a in fields.admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- endif -%}
