🔔 webhook <b>{{ fields.name }}</b>
{#--#}{%- if fields.unit is none -%}
{#-   #} (<a href="https://docs.impulse.bot/stable/warnings/NotDefined/">NotDefined</a>)  |  🔔 admins ({%- for a in fields.admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-  -#}{%- if fields.result == 'ok' -%}
{#-     #} ({% if fields.response < 400 %}{{ fields.response }}{% else %}<a href="https://docs.impulse.bot/stable/warnings/ResponseCode/">{{ fields.response }}</a>{% endif %})
{#-  -#}{%- elif fields.result == 'Timeout' -%}
{#      #} (<a href="https://docs.impulse.bot/stable/warnings/TimeoutError/">TimeoutError</a>)  |  🔔 admins ({%- for a in fields.admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#-  -#}{%- else -%}
{#      #} (<a href="https://docs.impulse.bot/stable/warnings/ConnectionError/">ConnectionError</a>)  |  🔔 admins ({%- for a in fields.admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#-  -#}{%- endif -%}
{#--#}{%- endif -%}
