{%- set unit = groups.get(step.value) -%}
🔔 group <b>{{ step.value }}</b>
{#--#}{%- if not unit -%}
{#-   #} (<a href="https://docs.impulse.bot/stable/warnings/NotDefined/">NotDefined</a>)  |  🔔 admins ({%- for a in admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- elif not unit.exists -%}
{#-   #} (<a href="https://docs.impulse.bot/stable/warnings/NotFound/">NotFound</a>)  |  🔔 admins ({%- for a in admins %}<a href="tg://user?id={{ a.id }}">{{ a.name }}</a>{% if not loop.last %},{% endif %}{% endfor -%})
{#--#}{%- else -%}
{#-     #} ({{ unit.name }})
{#--#}{%- endif -%}
