{%- if fields.type == 'slack' -%}
update: {% if fields.firing %}new alerts *firing*{% else %}some alerts *resolved*{% endif %}
{%- elif fields.type == 'mattermost' -%}
update: {% if fields.firing %}new alerts **firing**{% else %}some alerts **resolved**{% endif %}
{%- elif fields.type == 'telegram' -%}
update: {% if fields.firing %}new alerts <b>firing</b>{% else %}some alerts <b>resolved</b>{% endif %}
{%- endif -%}
