{%- set commonAnnotations = payload.get("commonAnnotations", {}) -%}
{%- set groupLabels = payload.get("groupLabels", {}) -%}
{%- set commonLabels = payload.get("commonLabels", {}) -%}
{%- set alerts = payload.get("alerts", {}) -%}
{%- if alerts[0].generatorURL %}{% set url = alerts[0].generatorURL %}{% endif -%}
{%- if commonAnnotations.runbook %}{% set runbook = commonAnnotations.runbook %}{% endif -%}

----------------------------------------
{%- if alerts[0].labels.instance %}
<b>Instance:</b> {{ alerts[0].labels.instance }}{% if alerts[0].labels.env %} ({{ alerts[0].labels.env }}){% endif %}{% if alerts[0].annotations.value %}  |  value=<b>{{ alerts[0].annotations.value }}</b>{% endif %}
{% endif -%}
----------------------------------------
{%- if commonAnnotations.summary %}
{{ commonAnnotations.summary }}
{% endif -%}
{%- if commonAnnotations.description %}
{{ commonAnnotations.description }}
{% endif -%}
{%- if url or runbook %}
{% if url %}<a href="{{ url }}">🔗 Source</a>{% endif %}{% if runbook %}{% if url %}  |  {% endif %}<a href="{{ runbook }}">📖 Runbook</a>{% endif %}
{% endif -%}
